body {
    background: #111;
    color: white;
}

.clock{
    background-color: blue;
    width: 50px;
    font-size: 20px;
    padding: 10px 0;
    font-family: 'Roboto mono',monospace;
    color: #aad0e2;
    margin-left: 75px;
}
  
.game-board {
    padding-top: 60px;
    width: 400px;
    height: 400px;
    margin: auto;
}

table {
    border-collapse:separate;
    border-spacing: 10px;
}

.cell {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid gray;
    background: linear-gradient(to top,  black, rgb(25, 205, 82));
}

.shown {
    background: linear-gradient(to top,  black, orange);
}
.marked {
    background: linear-gradient(to top,  black,  red);
}
.marked:hover {
    background: linear-gradient(to top,  black, gray);
    cursor: not-allowed;
}



 