body {
    background: rgb(221, 212, 212);
    color: rgb(28, 1, 1);
}

.clock{
    background-color: blue;
    width: 150px;
    font-size: 20px;
    padding: 10px 0;
    font-family: 'Roboto mono',monospace;
    color: #020a0e;
    margin-left: 75px;
}
 
Lives{
    background-color: rgb(225, 15, 71);
    width: 50px;
    font-size: 20px;
    padding: 10px 0;
    font-family: 'Roboto mono',monospace;
    color: #1c0964;
    margin-left: 200px;
}

.user-msg{
  background-color: lightseagreen;
  position: absolute;
  top:300px;
  right: 450px;
  padding: 10px;
  width: 100px;
  height: 50px;
  text-align: center;
  margin:  auto;
  font-size: 2.5em;
}

.game-board {
    padding-top: 60px;
    width: 400px;
    height: 400px;
    margin: auto;
}

table {
    border-collapse:separate;
    border-spacing: 10px;
}

.cell {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid gray;
    background: linear-gradient(to top,  black, rgb(25, 205, 82));
}

.shown {
    background: linear-gradient(to top,  black, orange);
}
.marked {
    background: linear-gradient(to top,  black,  red);
}
.marked:hover {
    background: linear-gradient(to top,  black, gray);
    cursor: not-allowed;
}



 